@using Microsoft.AspNetCore.Identity
@using NLI_POS.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NLI_POS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/NLI_POS.styles.css" asp-append-version="true" /> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/cc42349d53.js" crossorigin="anonymous"></script>

    <!-- ✅ jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- ✅ DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <!-- ✅ DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>



    <!-- Buttons extension CSS -->
    @*    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />

     <!-- Buttons and export dependencies -->
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js">    </script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script> *@


    <!-- Toastr -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  navbar-dark bg-dark bg-gradient">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/noblelife-white.png" alt="" width="150"  class="d-inline-block align-text-top" />
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> 
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-page="/Index">
                                    <i class="fas fa-home fa-xl" title="Home"></i> <span class="d-sm-none d-lg-inline-block">  Home</span>

                        </a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-page="/Orders/Index">
                                    <i class="fas fa-cash-register fa-xl" title="Order"></i> <span class="d-sm-none d-lg-inline-block">  Order</span>

                        </a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-page="/Customers/Index"><i class="fas fa-users fa-xl" title="Customer"></i> <span class="d-sm-none d-lg-inline-block"> Customer</span></a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-page="/Orders/Index"><i class="fas fa-file-alt fa-xl" title="Reports"></i> <span class="d-sm-none d-lg-inline-block"> Reports</span></a>
                        </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link  dropdown-toggle" role="button" data-bs-toggle="dropdown" id="navbarSettMenu" aria-expanded="false">
                                            <i class="fas fa-cogs fa-xl" title="Settings"></i> <span class="d-sm-none d-lg-inline-block"> Settings </span>

                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarSettMenu">
                                            <li><a class="dropdown-item" asp-area="" asp-page="/Users/Index" onclick="ShowProgress();"><i class="fas fa-users-cog"></i> Users</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-page="/Offices/Index" onclick="ShowProgress();"><i class="fas fa-laptop-house"></i> Branches</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-page="/Countries/Index" onclick="ShowProgress();"><i class="fas fa-globe-asia"></i> Countries</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-page="/Products/Index" onclick="ShowProgress();"><i class="fas fa-grip-horizontal"></i> Products</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                    </ul>}
                    <partial name="_LoginPartial" />
                 </div>
            </div>
        </nav>
    </header>
    <div class="container pt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        @* Modal start *@
        <div id="partialModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-gradient bg-warning">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close border-0" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color:gray"><i class="fas fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                        </div>
                        <div class="modal-footer-button">
                            @* Will add button here programmatically *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Modal end *@
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container-fluid bg-dark bg-gradient">
            &copy; 2025 Noble Life International
        </div>
    </footer>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>