@page
@model NLI_POS.Pages.Utilities.CustomerClass.EditModel

@{
    ViewData["Title"] = "Edit Customer Class";
}

<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="card shadow-lg rounded-4 p-4" style="max-width: 500px; width: 100%;">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-success mb-0">
                <i class="fas fa-user-edit me-2"></i> @ViewData["Title"]
            </h4>
            <i class="fas fa-window-close fa-2xl text-danger" role="button" title="Close" onclick="window.location = './Index';"></i>
        </div>
        <hr class="mb-4" />
        <div class="row">
            <div>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CustClass.Id" />
                    <div class="form-group mb-3">
                        <span class="text-danger">*</span>
                        <label asp-for="CustClass.Name" class="control-label"></label>
                        <input asp-for="CustClass.Name" class="form-control" />
                        <span asp-validation-for="CustClass.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="CustClass.Description" class="control-label"></label>
                        <textarea asp-for="CustClass.Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="CustClass.Description" class="text-danger"></span>
                    </div>
@*                     <div class="form-group">
                        <label asp-for="CustClass.EncodeDate" class="control-label"></label>
                        <input asp-for="CustClass.EncodeDate" class="form-control" />
                        <span asp-validation-for="CustClass.EncodeDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustClass.EncodedBy" class="control-label"></label>
                        <input asp-for="CustClass.EncodedBy" class="form-control" />
                        <span asp-validation-for="CustClass.EncodedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustClass.UpdateDate" class="control-label"></label>
                        <input asp-for="CustClass.UpdateDate" class="form-control" />
                        <span asp-validation-for="CustClass.UpdateDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustClass.UpdatedBy" class="control-label"></label>
                        <input asp-for="CustClass.UpdatedBy" class="form-control" />
                        <span asp-validation-for="CustClass.UpdatedBy" class="text-danger"></span>
                    </div> *@
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="far fa-save me-2"></i>Save</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
