@page
@model NLI_POS.Pages.Offices.EditModel

@{
    ViewData["Title"] = "Edit Office Details";
}
<div class="container-fluid bg-white bg-gradient shadow p-2 w-50">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0 text-primary">
            <i class="fa-solid fa-building me-2"></i> @ViewData["Title"]
        </h4>
        <i class="fas fa-window-close fa-2xl text-danger" role="button" title="Close" onclick="window.location = './Index';"></i>
    </div>
    <hr />

    <div class="container bg-light p-3 rounded border">
        <div class="row">
            <div >
                <form method="post" onsubmit="return validateAndShowLoader(this)">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="OfficeCountry.Id" />
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <span class="text-danger">*</span>
                            <label asp-for="OfficeCountry.Name" class="control-label"></label>
                            <input asp-for="OfficeCountry.Name" class="form-control" />
                            <span asp-validation-for="OfficeCountry.Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="OfficeCountry.CountryId" class="control-label"></label>
                            <select asp-for="OfficeCountry.CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                            <span asp-validation-for="OfficeCountry.CountryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="OfficeCountry.Address" class="control-label"></label>
                        <textarea asp-for="OfficeCountry.Address" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="OfficeCountry.Address" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label asp-for="OfficeCountry.Email" class="control-label"></label>
                            <input asp-for="OfficeCountry.Email" class="form-control" />
                            <span asp-validation-for="OfficeCountry.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="OfficeCountry.ContactNo" class="control-label"></label>
                            <input asp-for="OfficeCountry.ContactNo" class="form-control" />
                            <span asp-validation-for="OfficeCountry.ContactNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="OfficeCountry.Remarks" class="control-label"></label>
                        <textarea asp-for="OfficeCountry.Remarks" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="OfficeCountry.Remarks" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check form-switch">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="OfficeCountry.isActive" /> @Html.DisplayNameFor(model => model.OfficeCountry.isActive)
                        </label>
                    </div>

                    <input type="hidden" asp-for="OfficeCountry.EncodeDate" class="form-control" />

                    <input type="hidden" asp-for="OfficeCountry.EncodedBy" class="form-control" />

                    <input type="hidden" asp-for="OfficeCountry.UpdateDate" class="form-control" />

                    <input type="hidden" asp-for="OfficeCountry.UpdateddBy" class="form-control" />

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="far fa-save me-2"></i>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
