@page
@using System.Text.Json
@model NLI_POS.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create Product";
    var jsonData = JsonSerializer.Serialize(Model.ProductCombos);
}

<h4>Create Product</h4>
<hr />

<form method="post">
    <div class="row">
        <div class="col-md-12 p-2">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Products.ProductCode" class="control-label"></label>
                        <input asp-for="Products.ProductCode" class="form-control" />
                        <span asp-validation-for="Products.ProductCode" class="text-danger small"></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Products.ProductName" class="control-label"></label>
                        <input asp-for="Products.ProductName" class="form-control" />
                        <span asp-validation-for="Products.ProductName" class="text-danger small"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Products.ProductDescription" class="control-label"></label>
                        <input asp-for="Products.ProductDescription" class="form-control" />
                        <span asp-validation-for="Products.ProductDescription" class="text-danger small"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Products.ProducTypeId" class="control-label"></label>
                        <select asp-for="Products.ProducTypeId" class="form-control" asp-items="ViewBag.ProducTypeId">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="Products.ProducTypeId" class="text-danger small"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Products.ProductCategory" class="control-label"></label>
                        @* <input asp-for="Products.ProductCategory" class="form-control" /> *@
                        <select asp-for="Products.ProductCategory" id="ProductCategory" class="form-control">
                            <option value="">Select</option>
                            <option value="Regular">Regular</option>
                            <option value="Promo">Promo</option>
                            <option value="Freebie">Freebie</option>
                        </select>
                        <span asp-validation-for="Products.ProductCategory" class="text-danger small"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Products.SKU" class="control-label"></label>
                        <input asp-for="Products.SKU" class="form-control" />
                        <span asp-validation-for="Products.SKU" class="text-danger small"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Products.UnitCost" class="control-label"></label>
                        <input asp-for="Products.UnitCost" class="form-control" />
                        <span asp-validation-for="Products.UnitCost" class="text-danger small"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Products.RegPrice" class="control-label"></label>
                        <input asp-for="Products.RegPrice" class="form-control" />
                        <span asp-validation-for="Products.RegPrice" class="text-danger small"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Products.MemPrice" class="control-label"></label>
                        <input asp-for="Products.MemPrice" class="form-control" />
                        <span asp-validation-for="Products.MemPrice" class="text-danger small"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Products.StaffPrice" class="control-label"></label>
                        <input asp-for="Products.StaffPrice" class="form-control" />
                        <span asp-validation-for="Products.StaffPrice" class="text-danger small"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-check form-switch">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Products.IsActive" /> Active
                    </label>

                </div>
            </div>

            <input asp-for="Products.EncodeDate" type="hidden" value="@DateTime.UtcNow.AddHours(8)" />
            <input asp-for="Products.EncodedBy" type="hidden" value="ARMAN" />

        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>

</form>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
