@page
@model NLI_POS.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid bg-white bg-gradient rounded-3 shadow p-2">
    <h4>Edit Product</h4>
    <hr />

    <form method="post" id="form">

        <div class="row p-2">
            <div class="col-md-12 p-2">
                @* First Column - New Product *@


                <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                <div class="row pt-2">
                    <input asp-for="Products.Id" id="ProdMainID" type="hidden" />
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Products.ProductCode" class="control-label"></label>
                            <input asp-for="Products.ProductCode" class="form-control" />
                            <span asp-validation-for="Products.ProductCode" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="Products.ProductName" class="control-label"></label>
                            <input asp-for="Products.ProductName" class="form-control" />
                            <span asp-validation-for="Products.ProductName" class="text-danger small"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Products.ProductClass" class="control-label"></label>
                            <select asp-for="Products.ProductClass" class="form-control" >
                                <option value="">Select</option>
                                <option value="Main">Main</option>
                                <option value="Collateral">Collateral</option>
                            </select>
                            <span asp-validation-for="Products.ProductClass" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="Products.ProductDescription" class="control-label"></label>
                            <input asp-for="Products.ProductDescription" class="form-control" />
                            <span asp-validation-for="Products.ProductDescription" class="text-danger small"></span>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Products.ProducTypeId" class="control-label"></label>
                            <select asp-for="Products.ProducTypeId" class="form-control" asp-items="ViewBag.ProducTypeId">
                                <option value="">Select</option>
                            </select>
                            <span asp-validation-for="Products.ProducTypeId" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Products.ProductCategory" class="control-label"></label>
                            @* <input asp-for="Products.ProductCategory" class="form-control" /> *@
                            <select asp-for="Products.ProductCategory" id="ProductCategory" class="form-control">
                                <option value="">Select</option>
                                <option value="Regular">Regular</option>
                                <option value="Promo">Promo</option>
                                <option value="Freebie">Freebie</option>
                            </select>
                            <span asp-validation-for="Products.ProductCategory" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Products.SKU" class="control-label"></label>
                            <input asp-for="Products.SKU" class="form-control" />
                            <span asp-validation-for="Products.SKU" class="text-danger small"></span>
                        </div>
                    </div>

                </div>
                <div class="row pt-2">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Products.UnitCost" class="control-label"></label>
                            <input asp-for="Products.UnitCost" class="form-control" />
                            <span asp-validation-for="Products.UnitCost" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Products.RegPrice" class="control-label"></label>
                            <input asp-for="Products.RegPrice" class="form-control" />
                            <span asp-validation-for="Products.RegPrice" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Products.MemPrice" class="control-label"></label>
                            <input asp-for="Products.MemPrice" class="form-control" />
                            <span asp-validation-for="Products.MemPrice" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Products.StaffPrice" class="control-label"></label>
                            <input asp-for="Products.StaffPrice" class="form-control" />
                            <span asp-validation-for="Products.StaffPrice" class="text-danger small"></span>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-2">
                        <div class="form-group form-check form-switch">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Products.IsActive" /> Active
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-check form-switch">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Products.isFreebieAvailable" style="accent-color: green;" /> Freebie Available
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-check form-switch">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Products.isStaffAvailable" /> Staff Available
                            </label>
                        </div>
                    </div>
                </div>

                <input asp-for="Products.EncodeDate" type="hidden" />
                <input asp-for="Products.EncodedBy" type="hidden" />
                <input asp-for="Products.UpdateDate" type="hidden" value="@DateTime.UtcNow.AddHours(8)" />
                <input asp-for="Products.UpdateddBy" type="hidden" value="ARMAN" />

            </div>
            <div id="comboColumn" class="col-md-5 p-2 border border-info rounded" style="display:none">
                @*  2nd Column - Product Combination*@
                <partial name="_ProductComboPartial" model="Model.ProductCombos"></partial>

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

        @Html.AntiForgeryToken()
    </form>


    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myListModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myListModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myListModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method='post' asp-page-handler='AddRow'>
                    <div class="modal-body">

                        <div class="p-2">
                            Product Combination
                        </div>
                        <div class="p-2">
                            <button id="btnAdd" type="button" class="btn btn-info">Add Product <i class="fas fa-plus-circle"></i></button>
                        </div>
                        <div class="row bg-secondary text-white">
                            <div class="col-8 col-md-8 p-2 border">Product</div>
                            <div class="col-2 col-md-2 p-2 border">Quantity</div>
                            <div class="col-2 col-md-2 p-2 border text-center"><i class="fas fa-grip-horizontal"></i></div>

                        </div>

                        <div id="newRow">
                            <input type="hidden" id="encodedList" value="0" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="btnSaveCombo" class="btn btn-primary">Save Changes</button> @* //onclick="saveListData()" *@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        let myList = []; // Your list data in the modal
        let ProductComboList = [];
        let itemCount = 0;
        var combText = "";
        var newitem = "";
        // $(function () {
        //     $("#btnAdd").click(function () {
        //         //using JQuery ajax to call the handler method and get the select list options.
        //         var rowCount = parseInt($("#encodedList").val());
        //         itemCount++;
        //         rowCount++;
        //         var mainID = document.getElementById('ProdMainID').value;
        //         //alert(mainID);
        //         $("#encodedList").val(rowCount);
        //         $.ajax({
        //             type: "GET",
        //             url: "?handler=ProductList",
        //             success: function (data) {
        //                 //add new select element:
        //                 var newselect = "";

        //                 newselect += "<select id='ProductComboList[" + (rowCount) + "][1]' asp-for='ProductComboList[" + (rowCount) + "][1]' name='ProductComboList[" + (rowCount) + "][1]' class='form-control'  >"
        //                 $.each(data, function (i, item) {
        //                     newselect += `<option value="${item.value}">${item.text}</option>`;
        //                 });
        //                 newselect += "</select>";
        //                 //generate the new form group
        //                 var newitem = "";
        //                 newitem += '<div class="row p-1 inputRow" >';
        //                 newitem += '<div class="col-8 " >';
        //                 newitem += "<div class='form-group'> " + newselect;
        //                 newitem += '</div>';
        //                 newitem += '</div>';
        //                 newitem += '<div class="col-2 " >';
        //                 newitem += "<input type='hidden' id='ProductComboList[" + (rowCount) + "][0]' asp-for='ProductComboList[" + (rowCount) + "][0]' name='ProductComboList[" + (rowCount) + "][0]' value='" + mainID + "' > ";
        //                 newitem += "<input type='number' id='ProductComboList[" + (rowCount) + "][2]' asp-for='ProductComboList[" + (rowCount) + "][2]' name='ProductComboList[" + (rowCount) + "][2]' class='form-control'> </div>";
        //                 newitem += '<div class="col-1 text-center" >';
        //                 newitem += '<button type="button" class="removeRow btn btn-danger btn-sm"><i class="fas fa-minus-circle"></i></button>';
        //                 newitem += '</div>';
        //                 newitem += '<div class="col-1 text-center" >';
        //                 newitem += '<button id="addRow" type="button" onclick="getSelText(' + (rowCount) + ')" class="btn btn-success btn-sm" ><i class="fas fa-plus-circle"></i></button>';
        //                 newitem += "<input type='hidden' id='ProductComboList[" + (rowCount) + "][3]' asp-for='ProductComboList[" + (rowCount) + "][3]' name='ProductComboList[" + (rowCount) + "][3]'  > ";
        //                 // newitem += '<input asp-for="CombDesc[' + (rowCount) + '] = '" type="hidden" value="ProductCombos[' + (rowCount) + '].ProductId" />';
        //                 newitem += '</div>';
        //                 newitem += '</div>';

        //                 //append the new elements to the main form.
        //                 $("#newRow").append(newitem);

        //             },
        //             error: function (response) {
        //                 alert(response.responseText);
        //             }
        //         });
        //     });
        // });

        //let itemCount = 0;

        function addProductComboRow() {
            let rowCount = parseInt($("#encodedList").val());
            itemCount++;
            rowCount++;
            let mainID = document.getElementById('ProdMainID').value;

            $("#encodedList").val(rowCount);

            $.ajax({
                type: "GET",
                url: "?handler=ProductList",
                success: function (data) {
                    let newselect = `<select id='ProductComboList[${rowCount}][1]'
                                                                     asp-for='ProductComboList[${rowCount}][1]'
                                                                     name='ProductComboList[${rowCount}][1]'
                                                                     class='form-control'>`;

                    $.each(data, function (i, item) {
                        newselect += `<option value="${item.value}">${item.text}</option>`;
                    });

                    newselect += "</select>";

                    let newitem = `
                                                <div class="row p-1 inputRow">
                                                    <div class="col-8">
                                                        <div class="form-group">${newselect}</div>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="hidden" id="ProductComboList[${rowCount}][0]"
                                                               asp-for="ProductComboList[${rowCount}][0]"
                                                               name="ProductComboList[${rowCount}][0]"
                                                               value="${mainID}">
                                                        <input type="number" id="ProductComboList[${rowCount}][2]"
                                                               asp-for="ProductComboList[${rowCount}][2]"
                                                               name="ProductComboList[${rowCount}][2]"
                                                               class="form-control">
                                                    </div>
                                                    <div class="col-1 text-center">
                                                        <button type="button" class="removeRow btn btn-danger btn-sm">
                                                            <i class="fas fa-minus-circle"></i>
                                                        </button>
                                                    </div>
                                                    <div class="col-1 text-center">
                                                                <button id="addRow" type="button" onclick="getSelText(${rowCount});addProductComboRow()"
                                                                class="btn btn-success btn-sm">
                                                            <i class="fas fa-plus-circle"></i>
                                                        </button>
                                                        <input type="hidden" id="ProductComboList[${rowCount}][3]"
                                                               asp-for="ProductComboList[${rowCount}][3]"
                                                               name="ProductComboList[${rowCount}][3]">
                                                    </div>
                                                </div>`;

                    $("#newRow").append(newitem);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        // Attach it on page load
        $(function () {
            $("#btnAdd").click(addProductComboRow);
            //$("#addRow").click(addProductComboRow);
        });

        /*Save Combo*/
        $("#btnSaveCombo").click(function () {
            //alert('save');
            ProductComboList = []; // reset before collecting

            $("#newRow .row").each(function (index) {
                const productId = $(this).find("select").val();
                const quantity = $(this).find("input[type='number']").val();
                const mainId = $(this).find("input[type='hidden']").eq(0).val();
                var combDesc = $(this).find("input[type='hidden']").eq(1).val();
                ProductComboList.push([mainId, productId, quantity, combDesc]);
            });

            $.ajax({
                type: "POST",
                url: "?handler=AddRow",
                data: JSON.stringify(ProductComboList),
                contentType: "application/json; charset=utf-8",
                headers: {
                    'RequestVerificationToken': gettoken() // <- required for ASP.NET Core
                },
                success: function (response) {
                    if (response) {
                        toastr.options.closeButton = false;
                        toastr.options.timeOut = 800;
                        toastr.options.fadeOut = 1000;
                        toastr.options.onHidden = function () { selRow.remove(); }
                        toastr.success('Combination successfully added!');
                        $("#myListModal").modal('hide');
                        window.location.reload();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Handle errors
                    console.log(errorThrown);
                    alert('error:' + textStatus);
                }
            });
        });

        $(document).on('click', '.removeRow', function () {
            var rowCount = parseInt($("#encodedList").val());
            rowCount--;
            $("#encodedList").val(rowCount);
            $(this).closest('.inputRow').remove();
        });

        // Show/Hide Combo Column
        $(document).ready(function () {

            var fieldValue = $('#ProductCategory').val();
            if (fieldValue == 'Promo')
            //.....................^.......
            {
                $("#comboColumn").slideDown(500);
                $('.col-md-12').removeClass('col-md-12').addClass('col-md-7');
            }
            else {
                $("#comboColumn").hide();
                $('.col-md-7').removeClass('col-md-7').addClass('col-md-12');
            }

            $('#ProductCategory').on('change', function () {
                if (this.value == 'Promo')
                //.....................^.......
                {
                    $("#comboColumn").slideDown(500);
                    $('.col-md-12').removeClass('col-md-12').addClass('col-md-7');
                }
                else {
                    $("#comboColumn").hide();
                    $('.col-md-7').removeClass('col-md-7').addClass('col-md-12');
                }
            });
        });

        function saveListData() {

            $('#myListModal').modal('hide');
            displayListInParent(myList);
        }

        function displayListInParent(list) {
            const myModelData = JsonSerializer.Serialize(Model);
            console.log(myModelData);

            displayDiv.innerHTML = '<strong>List Values:</strong><br>';
            if (list && list.length > 0) {
                list.forEach(item => {
                    displayDiv.innerHTML += `- ${item}<br>`;
                });
            } else {
                displayDiv.innerHTML += 'No list data.';
            }
        }

        async function sendData() {
            // alert(indx);
            //document.getElementById("ProductCombos[" + indx + "].ProductId").value = "Value from JavaScript";
            //var pId = getElementById("ProductCombos[" + indx + "].ProductId").value;
            //var pQty = getElementById("ProductCombos[" + indx + "].Quantity").value;
            //data = { pId, pQty };

            const response = await fetch("Edit?handler=SendData", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "RequestVerificationToken": gettoken()
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();
            console.log(result);
        }

        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }

        function getSelText(idx) {
            //alert(idx);
            //alert(mainID);
            var Qty = document.getElementById("ProductComboList[" + idx + "][2]").value;
            var dropdownText = document.getElementById("ProductComboList[" + idx + "][1]");
            //var selectedQty = dropdownQty.options[dropdownQty.selectedIndex].text;
            var selectedText = dropdownText.options[dropdownText.selectedIndex].text;
            //if(combText==""){
            //combText += Qty + ' ' + selectedText;
            combText = Qty + ' ' + selectedText;
            document.getElementById("ProductComboList[" + idx + "][3]").value = combText;
            //}
            //else
            //{
            //    combText += ', ' + Qty + ' ' + selectedText;
            //}

            // Get the selected text of the dropdown
            //var selectedText = $("#ProductCombos[" + (idx) + "].ProductId option:selected").text();
            // Set the input field value to the selected text

            // ProductComboList = []; // reset before collecting

            // $("#newRow .row").each(function (index) {
            //     const productId = $(this).find("select").val();
            //     const quantity = $(this).find("input[type='number']").val();
            //     const mainId = $(this).find("input[type='hidden']").val();

            //     ProductComboList.push([mainId, productId, quantity]);
            // });

            //alert(combText);
            const button1 = document.getElementById('addRow');
            if (button1) {
                button1.remove();
            }
            // $('#CombDesc').val(selectedText);

            return combText;
        };
        //rowCount++;
    </script>
}

