@page
@model NLI_POS.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="container" style="margin-left: auto;  margin-right: auto;">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Product.ProductCode" class="control-label"></label>
                    <input asp-for="Product.ProductCode" class="form-control" />
                    <span asp-validation-for="Product.ProductCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="Product.ProductName" class="control-label"></label>
                    <input asp-for="Product.ProductName" class="form-control" />
                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Product.ProductDescription" class="control-label"></label>
                    <input asp-for="Product.ProductDescription" class="form-control" />
                    <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Product.ProducTypeId" class="control-label"></label>
                    <select asp-for="Product.ProducTypeId" class="form-control" asp-items="ViewBag.ProducTypeId">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Product.ProductCategory" class="control-label"></label>
                    @* <input asp-for="Product.ProductCategory" class="form-control" /> *@
                    <select asp-for="Product.ProductCategory" class="form-control">
                        <option value="">Select</option>
                        <option value="Regular">Regular</option>
                        <option value="Promo">Promo</option>
                        <option value="Freebie">Freebie</option>
                    </select>
                    <span asp-validation-for="Product.ProductCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Product.SKU" class="control-label"></label>
                    <input asp-for="Product.SKU" class="form-control" />
                    <span asp-validation-for="Product.SKU" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Product.UnitCost" class="control-label"></label>
                    <input asp-for="Product.UnitCost" class="form-control" />
                    <span asp-validation-for="Product.UnitCost" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Product.RegPrice" class="control-label"></label>
                    <input asp-for="Product.RegPrice" class="form-control" />
                    <span asp-validation-for="Product.RegPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Product.MemPrice" class="control-label"></label>
                    <input asp-for="Product.MemPrice" class="form-control" />
                    <span asp-validation-for="Product.MemPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Product.StaffPrice" class="control-label"></label>
                    <input asp-for="Product.StaffPrice" class="form-control" />
                    <span asp-validation-for="Product.StaffPrice" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group form-check form-switch">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.IsActive" /> Active
                </label>

            </div>
        </div>

        <input asp-for="Product.EncodeDate" type="hidden"  />
        <input asp-for="Product.EncodedBy" type="hidden" />
        <input asp-for="Product.UpdateDate" type="hidden" value="@DateTime.UtcNow.AddHours(8)" />
        <input asp-for="Product.UpdateddBy" type="hidden" value="ARMAN" />

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
