@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="container bg-white shadow rounded-4 p-4 my-4 w-25">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0"><i class="fas fa-lock text-primary me-2"></i> @ViewData["Title"]</h4>
        <a title="Close" class="text-danger fa-2xl" style="cursor: pointer;" onclick="window.location = './Index';">
            <i class="fas fa-window-close"></i>
        </a>
    </div>

    <hr />

@* <h1>@ViewData["Title"]</h1> *@
<h3>Enter your email.</h3>

<div class="row">
    <div>
       <form method="post" onsubmit="return validateAndShowLoader(this)">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary"><i class="fas fa-undo me-2"></i>Reset Password</button>
        </form>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
