@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container bg-white bg-gradient rounded-3 shadow p-4 my-4 w-50 text-center">
<h1>@ViewData["Title"]</h1>
    <span class="">
        <i class="fa-regular fa-envelope  fa-beat fa-10x" style="color: lightgreen;"></i>
    </span>
<p>
    Please check your email to reset your password.
</p>
</div>