@page
@model NLI_POS.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Customer Registration</h4>
<hr />
<div class="container bg-light p-3 rounded border">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

        <div class="form-group row p-2 ">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <span class="text-danger small">*</span>
                <label asp-for="Customer.CustCode" class="control-label"></label>
                <input asp-for="Customer.CustCode" class="form-control" value="NEW" readonly />
                <span asp-validation-for="Customer.CustCode" class="text-danger small"></span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <span class="text-danger small">*</span>
                <label asp-for="Customer.CustClass" class="control-label"></label>
                <select asp-for="Customer.CustClass" class="form-control" asp-items="ViewBag.CustClass">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <label asp-for="Customer.OfficeId" class="control-label"></label>
                <select asp-for="Customer.OfficeId" class="form-control" asp-items="ViewBag.OfficeId">
                    <option value="">Select</option>
                </select>
                @* </ *@select>
            </div>
        </div>

        <div class="form-group row p-2">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                <span class="text-danger small">*</span>
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger small"></span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <span class="text-danger small">*</span>
                <label asp-for="Customer.MiddleName" class="control-label"></label>
                <input asp-for="Customer.MiddleName" class="form-control" />
                <span asp-validation-for="Customer.MiddleName" class="text-danger small"></span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <span class="text-danger small">*</span>
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" class="form-control" />
                <span asp-validation-for="Customer.LastName" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-group row p-2">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <label asp-for="Customer.Email" class="control-label"></label>
                <input asp-for="Customer.Email" class="form-control" />
                <span asp-validation-for="Customer.Email" class="text-danger small"></span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <label asp-for="Customer.MobileNo" class="control-label"></label>
                <input asp-for="Customer.MobileNo" class="form-control" />
                <span asp-validation-for="Customer.MobileNo" class="text-danger small"></span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <label asp-for="Customer.LandlineNo" class="control-label"></label>
                <input asp-for="Customer.LandlineNo" class="form-control" />
                <span asp-validation-for="Customer.LandlineNo" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-group row p-2">
            <div class="form-group col-lg-3 col-md-3 col-sm-12 col-12">
                <span class="text-danger small">*</span>
                <label asp-for="Customer.Gender" class="control-label"></label>
                <select asp-for="Customer.Gender" class="form-control">
                    <option value="">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Customer.Gender" class="text-danger small"></span>
            </div>

            <div class="form-group col-lg-3 col-md-3 col-sm-12 col-12">
                <span class="text-danger small">*</span>
                <label asp-for="Customer.Birthday" class="control-label"></label>
                <input asp-for="Customer.Birthday" class="form-control" />
                <span asp-validation-for="Customer.Birthday" class="text-danger small"></span>
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-12 col-12">
                <label asp-for="Customer.CivilStat" class="control-label"></label>
                <select asp-for="Customer.CivilStat" class="form-control">
                    <option value="">Select</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Separated">Separated</option>
                    <option value="Widowed">Widowed</option>
                </select>
                <span asp-validation-for="Customer.CivilStat" class="text-danger small"></span>
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-12 col-12">
                <label asp-for="Customer.Nationality" class="control-label"></label>
                <input asp-for="Customer.Nationality" class="form-control" />
                <span asp-validation-for="Customer.Nationality" class="text-danger small"></span>
            </div>
        </div>

        <div class="form-group row p-2">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <label asp-for="Customer.Country" class="control-label"></label>
                <select asp-for="Customer.Country" class="form-control" asp-items="ViewBag.Country">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="Customer.Country" class="text-danger small"></span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <label asp-for="Customer.Province" class="control-label"></label>
                <input asp-for="Customer.Province" class="form-control" />
                <span asp-validation-for="Customer.Province" class="text-danger small"></span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <label asp-for="Customer.City" class="control-label"></label>
                <input asp-for="Customer.City" class="form-control" />
                <span asp-validation-for="Customer.City" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-group row p-2">
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <label asp-for="Customer.Address1" class="control-label"></label>
                <input asp-for="Customer.Address1" class="form-control" />
                <span asp-validation-for="Customer.Address1" class="text-danger small"></span>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <label asp-for="Customer.Address2" class="control-label"></label>
                <input asp-for="Customer.Address2" class="form-control" />
                <span asp-validation-for="Customer.Address2" class="text-danger small"></span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                <label asp-for="Customer.PostalCode" class="control-label"></label>
                <input asp-for="Customer.PostalCode" class="form-control" />
                <span asp-validation-for="Customer.PostalCode" class="text-danger small"></span>
            </div>
        </div>

        <input asp-for="Customer.EncodeDate" type="hidden" value="@DateTime.UtcNow.AddHours(8)" />
        <input asp-for="Customer.EncodedBy" type="hidden" value="ARMAN" />

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    </form>

</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
