html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1366px) {
    html {
        font-size: 12px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url('/images/main.jpg');
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 50px;
    /*padding-top: 65px;*/
    width: 100vw;
    overflow-x: hidden;
}

/*data table search*/
.dataTables_filter {
    padding: 10px; /* top/bottom 10px, left/right 20px */
}

/*Validation Summary*/
.validation-summary-errors ul {
    margin-bottom: 2px;
    padding-left: 20px;
}

/*Preloader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5); /* 50% transparent dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    width: 80px;
    height: 80px;
    border: 6px solid transparent;
    border-top: 6px solid #6c5ce7;
    border-right: 6px solid #0984e3;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 20px rgba(108, 92, 231, 0.6), 0 0 40px rgba(9, 132, 227, 0.6);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cursor-move {
    cursor: move;
}

.dataTable {
    width: 100% !important;
}

/*Remove numeric input arrows*/
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/*Tab`s active text a bold*/
.nav-tabs .nav-link.active {
    font-weight: bold;
}

/*.nav-tabs {
    border-bottom: 1px solid #343a40;*/ /* dark gray */
/*}*/

/* Darker border for active tab */
.nav-tabs .nav-link.active {
    border-color: #343a40 #343a40 #ffff; /* top, sides, bottom */
    font-weight: bold;
}

/* Optional: Darker border for non-active tabs */
.nav-tabs .nav-link {
    border: 1px solid #ccc;
    border-bottom: none;
}

/*menu icons*/
.icon-container {
    width: 24px; /* or 28px depending on your needs */
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
}

/* Hide sidebar and reset margin on small screens */
/*@media (max-width: 767.98px) {
    .sidebar-desktop {
        background-color: red !important;
        display: none !important;
    }

    #page-content {
        margin-left: 0 !important;
    }
}*/

/* Desktop: show the sidebar */
@media (min-width: 768px) {
    .sidebar-desktop {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        z-index: 1030;
    }

    .with-sidebar #page-content {
        margin-left: 250px;
    }
}

/* Mobile: hide the sidebar */
@media (max-width: 767.98px) {
   .sidebar-desktop {
        display: none !important;
        z-index: -1 !important;
    }

    #page-content {
        margin-left: 0 !important;
    }
}