@model NLI_POS.Pages.Inventory.EditModel

<form method="post" asp-page-handler="Edit" onsubmit="return validateAndShowLoader(this)">
    @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="InventoryStock.Id" />

        <div class="mb-3">
             <label asp-for="InventoryStock.OfficeId" class="form-label"></label>
@*             <select asp-for="InventoryStock.OfficeId" class="form-select" asp-items="ViewBag.OfficeId"></select>
            <span asp-validation-for="InventoryStock.OfficeId" class="text-danger"></span>  *@
        <input asp-for="InventoryStock.Office.Name" class="form-control" readonly />
        </div>

        <div class="mb-3">
            <label asp-for="InventoryStock.ProductId" class="form-label"></label>
@*             <select asp-for="InventoryStock.ProductId" class="form-select" asp-items="ViewBag.ProductId"></select>
            <span asp-validation-for="InventoryStock.ProductId" class="text-danger"></span> *@
        <input asp-for="InventoryStock.Products.ProductName" class="form-control" readonly />
        </div>

        <div class="mb-3">
            <label asp-for="InventoryStock.StockQty" class="form-label"></label>
            <input asp-for="InventoryStock.StockQty" class="form-control" />
            <span asp-validation-for="InventoryStock.StockQty" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="InventoryStock.Remarks" class="form-label"></label>
            <textarea asp-for="InventoryStock.Remarks" class="form-control" rows="3"></textarea>
            <span asp-validation-for="InventoryStock.Remarks" class="text-danger"></span>
        </div>

    <input asp-for="InventoryStock.EncodedBy" type="hidden" />
    <input asp-for="InventoryStock.EncodeDate" type="hidden" />
    <input asp-for="InventoryStock.UpdatedBy" value="@User.Identity.Name" type="hidden" />
    <input asp-for="InventoryStock.UpdateDate" type="hidden" />

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save me-2"></i>Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    </form>

