<!-- /Pages/Inventory/_InventorySubNavPartial.cshtml -->
<div class="card shadow-sm" style="min-width: 180px;">
    <div class="card-body p-2 d-flex flex-column gap-2 text-nowrap">
        <a class="btn btn-outline-success w-100 p-4 text-start" asp-page="/Inventory/Warehouse/Index">
            <i class="fas fa-warehouse me-2"></i> Warehouse
        </a>
        <a class="btn btn-outline-info w-100 p-4 text-start" asp-page="/Inventory/Stockroom/Index">
            <i class="fas fa-cubes me-2"></i> Stockroom
        </a>
        <a class="btn btn-outline-primary w-100 p-4 text-start" asp-page="/Inventory/Offices/Index">
            <i class="fas fa-building me-2"></i> Offices
        </a>
        <hr />
        <a class="btn btn-outline-secondary w-100 p-4 text-start" asp-page="/Inventory/Transactions/Index">
            <i class="fa-solid fa-clock-rotate-left me-2"></i> Transactions
        </a>        
        <a class="btn btn-outline-warning w-100 p-4 text-start" asp-page="/Inventory/Locations/Index">
            <i class="fas fa-location-arrow me-2"></i> Locations
        </a>
    </div>
</div>
