@page
@model NLI_POS.Pages.Inventory.CreateModel

@{
    ViewData["Title"] = "Inventory";
}
<div class="container-fluid bg-white bg-gradient rounded-3 shadow p-2 w-50" >
    <span class="float-end" title="Close"><i class="fas fa-window-close fa-2xl text-danger" onclick="window.location = './Index';"></i> </span>


    <h3>Add Inventory Stock</h3>
    <hr />
    <div class="row p-2">
        <div class="col-md-12">
           <form method="post" onsubmit="return validateAndShowLoader(this)">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="InventoryStock.OfficeId" class="control-label"></label>
                    <select asp-for="InventoryStock.OfficeId" class="form-control" asp-items="ViewBag.OfficeId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="InventoryStock.ProductId" class="control-label"></label>
                    <select asp-for="InventoryStock.ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="InventoryStock.StockQty" class="control-label"></label>
                    <input asp-for="InventoryStock.StockQty" class="form-control" />
                    <span asp-validation-for="InventoryStock.StockQty" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
