@page
@model IndexModel
@{
    ViewData["Title"] = "NobleLife - POS";
}


<div class="icon-container-main ">
    <div class="icon-wrapper">
        <div class="draggable-icon pos-orders " title="Orders">
            <a asp-page="/Orders/Index" class="text-dark">
                <img src="/images/icons/orders.png" alt="Orders" class="shadow hover-border" />
            </a>
            <span class="bg-transparent text-white "><a asp-page="/Orders/Index" class="text-white text-decoration-none" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);">Orders</a></span>
        </div>
        <div class="draggable-icon pos-customers" title="Customers">
            <a asp-page="/Customers/Index" class="text-dark">
                <img src="/images/icons/customer.png" alt="Customers" class="shadow hover-border" />
            </a>
            <span class="bg-transparent text-white "><a asp-page="/Customers/Index" class="text-white text-decoration-none" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);">Customers</a></span>
        </div>

        <div class="draggable-icon pos-reports" title="Reports">
            <a data-bs-toggle="modal" data-bs-target="#reportsModal" class="text-dark">
                <img src="/images/icons/reports.png" alt="Utilities" class="shadow hover-border" />
            </a>
            <span class="bg-transparent text-white "><a data-bs-toggle="modal" data-bs-target="#reportsModal" class="text-white text-decoration-none" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);">Reports</a></span>
        </div>
        <div class="draggable-icon pos-products" title="Products">
            <a asp-page="/Products/Index" class="text-dark">
                <img src="/images/icons/products.png" alt="Products" class="shadow hover-border" />
            </a>
            <span class="bg-transparent text-white "><a asp-page="/Products/Index" class="text-white text-decoration-none" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);">Products</a></span>
        </div>
        <div class="draggable-icon pos-salesources" title="Sales Sources">
            <a asp-page="/SaleSources/Index" class="text-dark">
                <img src="/images/icons/salesources.png" alt="Sales Sources" class="shadow hover-border" />
            </a>
            <span class="bg-transparent text-white "><a asp-page="/SaleSources/Index" class="text-white text-decoration-none" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);">Sales Sources</a></span>
        </div>
        <div class="draggable-icon pos-inventory" title="Inventory">
            <a asp-page="/Inventory/Warehouse/Index" class="text-dark">
                <img src="/images/icons/inventory.png" alt="Inventory" class="shadow-lg hover-border" />
            </a>
            <span class="bg-transparent text-white "><a asp-page="/Inventory/Warehouse/Index" class="text-white text-decoration-none" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);">Inventory</a></span>
        </div>
        <div class="draggable-icon pos-office" title="Office">
            <a asp-page="/Offices/Index" class="text-dark">
                <img src="/images/icons/office.png" alt="Office" class="shadow hover-border" />
            </a>
            <span class="bg-transparent text-white "><a asp-page="/Offices/Index" class="text-white text-decoration-none" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);">Offices</a></span>
        </div>
        <div class="draggable-icon pos-dashboard" title="Dashboard">
            <a asp-page="/Dashboard/Index" class="text-dark">
                <img src="/images/icons/dashboard.png" alt="Users" class="shadow hover-border" />
            </a>
            <span class="bg-transparent text-white "><a asp-page="/Users/Index" class="text-white text-decoration-none" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);">Dashboard</a></span>
        </div>
        <div class="draggable-icon pos-users" title="Users">
            <a asp-page="/Users/Index" class="text-dark">
                <img src="/images/icons/users.png" alt="Users" class="shadow hover-border" />
            </a>
            <span class="bg-transparent text-white "><a asp-page="/Users/Index" class="text-white text-decoration-none" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);">Users</a></span>
        </div>
        <div class="draggable-icon pos-utility" title="Utilities">
            <a data-bs-toggle="modal" data-bs-target="#utilityModal" class="text-dark">
                <img src="/images/icons/utility.png" alt="Utilities" class="shadow hover-border" />
            </a>
            <span class="bg-transparent text-white "><a data-bs-toggle="modal" data-bs-target="#utilityModal" class="text-white text-decoration-none" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);">Utilities</a></span>
        </div>
    </div>
</div>

<!-- Utility Modal -->
<div class="modal fade" id="utilityModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-tools me-2"></i>Utilities</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="utilityModalModalContainer">
                <div class="container">
                    <div class="icon-wrapper">
                        <div class="draggable-icon pos-countries " title="Countries">
                            <a asp-page="/Utilities/Countries/Index" class="text-dark">
                                <img src="/images/icons/countries.png" alt="Countries" class="shadow-lg hover-border" />
                            </a>
                            <span class="bg-transparent text-white "><a asp-page="/Utilities/Countries/Index" class="text-dark text-decoration-none">Countries</a></span>
                        </div>
                        <div class="draggable-icon pos-paymentmethods" title="Payment Methods">
                            <a asp-page="/Utilities/PaymentMethods/Index" class="text-dark">
                                <img src="/images/icons/paymentmethods.png" alt="Payment Methods" class="shadow-lg hover-border" />
                            </a>
                            <span class="bg-transparent text-white "><a asp-page="/Utilities/PaymentMethods/Index" class="text-dark text-decoration-none">Payment Methods</a></span>
                        </div>
                        <div class="draggable-icon pos-custclass" title="Customer Classes">
                            <a asp-page="/Utilities/CustomerClasses/Index" class="text-dark">
                                <img src="/images/icons/custclass.png" alt="Customer Classes" class="shadow-lg hover-border" />
                            </a>
                            <span class="bg-transparent text-white "><a asp-page="/Utilities/CustomerClasses/Index" class="text-dark text-decoration-none">Customer Classes</a></span>
                        </div>
                        <div class="draggable-icon pos-producttypes" title="Product Types">
                            <a asp-page="/Utilities/ProductTypes/Index" class="text-dark">
                                <img src="/images/icons/producttypes.png" alt="Products" class="shadow-lg hover-border" />
                            </a>
                            <span class="bg-transparent text-white "><a asp-page="/Utilities/ProductTypes/Index" class="text-dark text-decoration-none">Product Types</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Reports Modal -->
<div class="modal fade" id="reportsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"><i class="fas fa-file-invoice-dollar fa-xl me-2"></i> Reports</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="reportsModalModalContainer">
                <div class="container">
                    <div class="icon-wrapper">
                        <div class="draggable-icon pos-dailysales " title="Daily Sales">
                            <a asp-page="/Report/DailySales" class="text-dark">
                                <img src="/images/icons/daily.png" alt="Daily Sales" class="shadow-lg hover-border" />
                            </a>
                            <span class="bg-transparent text-white "><a asp-page="/Reports/DailySales" class="text-dark text-decoration-none">Daily Sales</a></span>
                        </div>
                        <div class="draggable-icon pos-salesdaterange" title="Weekly Sales">
                            <a asp-page="/Report/SalesByDateRange" class="text-dark">
                                <img src="/images/icons/weekly.png" alt="Weekly Sales" class="shadow-lg hover-border" />
                            </a>
                            <span class="bg-transparent text-white "><a asp-page="/Reports/SalesByDateRange" class="text-dark text-decoration-none">Sales by Date Range</a></span>
                        </div>
                        <div class="draggable-icon pos-monthlysales" title="Monthly Sales">
                            <a asp-page="/Report/MonthlySales" class="text-dark">
                                <img src="/images/icons/monthly.png" alt="Monthly Sales" class="shadow-lg hover-border" />
                            </a>
                            <span class="bg-transparent text-white "><a asp-page="/Reports/MonthlySales" class="text-dark text-decoration-none">Monthly Sales</a></span>
                        </div>
                        <div class="draggable-icon pos-yearlysales" title="Yearly Sales">
                            <a asp-page="/Report/YearlySales" class="text-dark">
                                <img src="/images/icons/yearly.png" alt="Yearly Sales" class="shadow-lg hover-border" />
                            </a>
                            <span class="bg-transparent text-white "><a asp-page="/Reports/YearlySales" class="text-dark text-decoration-none">Yearly Sales</a></span>
                        </div>                        
                        <div class="draggable-icon pos-salesquota" title="Sales Quota">
                            <a asp-page="/Report/SalesQuota" class="text-dark">
                                <img src="/images/icons/quota.png" alt="Sales Quota" class="shadow-lg hover-border" />
                            </a>
                            <span class="bg-transparent text-white "><a asp-page="/Reports/SalesQuota" class="text-dark text-decoration-none">Sales Quota</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".draggable-icon").draggable();
    });
</script>