@page
@model IndexModel
@{
    ViewData["Title"] = "Noble Life - POS";
}


<div class="icon-container-main ">
    <div class="draggable-icon pos-orders " title="Orders">
        <a href="/Orders/Index" class="text-dark">
            <img src="/images/icons/orders.png" alt="Orders" class="shadow-lg hover-border" />
        </a>
        <span class="bg-transparent text-white shadow-sm">Orders</span>
    </div>
    <div class="draggable-icon pos-customers" title="Customers">
        <a href="/Customers/Index" class="text-dark">
            <img src="/images/icons/customer.png" alt="Customers" class="shadow-lg hover-border" />
        </a>
        <span class="bg-transparent text-white shadow-sm">Customers</span>
    </div>
    <div class="draggable-icon pos-reports" title="Reports">
        <a href="/Report/DailySales" class="text-dark">
            <img src="/images/icons/reports.png" alt="Reports" class="shadow-lg hover-border" />
        </a>
        <span class="bg-transparent text-white shadow-sm">Reports</span>
    </div>
    <div class="draggable-icon pos-products" title="Products">
        <a href="/Products/Index" class="text-dark">
            <img src="/images/icons/products.png" alt="Products" class="shadow-lg hover-border" />
        </a>
        <span class="bg-transparent text-white shadow-sm">Products</span>
    </div>
    <div class="draggable-icon pos-inventory" title="Inventory">
        <a href="/Inventory/Index" class="text-dark">
            <img src="/images/icons/inventory.png" alt="Inventory" class="shadow-lg hover-border" />
        </a>
        <span class="bg-transparent text-white shadow-sm">Inventory</span>
    </div>
    <div class="draggable-icon pos-office" title="Office">
        <a href="/Offices/Index" class="text-dark">
            <img src="/images/icons/office.png" alt="Office" class="shadow-lg hover-border" />
        </a>
        <span class="bg-transparent text-white shadow-sm">Offices</span>
    </div>
    <div class="draggable-icon pos-users" title="Users">
        <a href="/Users/Index" class="text-dark">
            <img src="/images/icons/users.png" alt="Users" class="shadow-lg hover-border" />
        </a>
        <span class="bg-transparent text-white shadow-sm">Users</span>
    </div>
</div>



<script>
    $(function () {
        $(".draggable-icon").draggable();
    });
</script>