@page
@model NLI_POS.Pages.TodaySalesModel
@{
}

@* <div class="row g-3 mb-4">
    <form method="get" class="row g-3 mb-4">
        <div >
            <label for="officeFilter" class="form-label">Office</label>
            <select asp-for="Office" class="form-select" onchange="this.form.submit();"></select>
        </div>
    </form>
</div>
<div>
    <h5>Today's Sales: @Model.TotalSales.ToString("N2")</h5>
</div> *@