
@model NLI_POS.Pages.Shared.EmailTemplates._EmailOrderReceiptPartialModel

@* <div style="font-family: Arial; font-size: 14px;">
    <h2 style="color: #0d6efd;">Purchase Order Receipt</h2>
    <p><strong>Customer:</strong> @Model.CustomerName</p>
    <p><strong>Order No:</strong> @Model.OrderNo</p>
    @await Html.PartialAsync("OrderDetailsPartial", Model)
</div> *@